* {
    margin: 0;
    padding: 0;
        
}


html {
    scroll-behavior: smooth;
}


body {
  font-family: 'Sulphur Point', sans-serif;
    color: #f5eded;
    font-size: 20px;
    background-image: url(engin-akyurt-8CItx_c0CkI-unsplash-min.jpg);
    background-size: cover;   

}


section h1{
  text-transform: uppercase;
  padding: 50px;
  text-align: center;
  font-size: 45px;
}


.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.link {
  color: #f5eded;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}


.link::before {
  background: hsl(323, 88%, 43%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  
}
.about-me-section {
  display: flex;
  column-gap: 25px;
  justify-items: center;
  padding: 50px;
  
}


.me {
  width: 350px;
  height: 400px;
}

.txt-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.cta-container{
  padding-top: 30px;
  display: flex;
  justify-content: center;

  
}

.btn {
   
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}


.details{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  column-gap: 15px;
  row-gap: 10px;
  font-size: 20px;
}


footer{
  background-color:#001527;
  padding: 15px;
  border-top-style: solid;
  text-align: center;
}

footer p{
  font-size: 15px;

}


#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
  border: solid 1px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-color: f5eded;
  border-radius: 50%;
  background-color: rgb(48, 13, 48, 0.8);
  
}

#toTopBtn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 300ms ease-out;
  color: rgb(48, 13, 48);
}
.up-icon{
  width: 20px;
  height: 20px;
}

/* ------------MEDIA QUERIES--------------- */

@media (max-width: 1045px) {

  section h1{
    font-size: 35px;
  }

.cta-container{
  padding-top:10px ;
}

.link {
  font-size: 18px;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-me-section p{
  font-size: 18px;
}

.cta-container{
  font-size: 18px;
}
svg {
  font-size: 15px;
}


}


@media (max-width: 751px) {


  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }




.me{
  padding-bottom: 25px;
}

.cta-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.about-me-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details{
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
}

.box4{
  grid-row: 2 / 3;
  padding-bottom: 25px;
}

.box5{
  grid-row: 4 / 5;
  padding-bottom: 25px;
}



footer {
  font-size: 10px;
}

}

